In [1]:
from pathlib import Path

import numpy as np
import pandas as pd

import matplotlib.pyplot as pp
import seaborn as sb

In [2]:
project_path = Path.cwd()
data_path = project_path / 'data'
col_reduced_data_path = data_path / 'reduced_columns' / 'nomad_2008_2012'

In [3]:
df_toa = pd.read_parquet(col_reduced_data_path / 'df_toa.pqt')
df_env = pd.read_parquet(col_reduced_data_path / 'df_env.pqt')
df_y = pd.read_parquet(col_reduced_data_path / 'df_targets.pqt')

In [4]:
df_toa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496 entries, 0 to 495
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sat_lt412    496 non-null    float64
 1   sat_lt443    496 non-null    float64
 2   sat_lt490    496 non-null    float64
 3   sat_lt510    496 non-null    float64
 4   sat_lt555    496 non-null    float64
 5   sat_lt670    496 non-null    float64
 6   sat_rhot412  496 non-null    float64
 7   sat_rhot443  496 non-null    float64
 8   sat_rhot490  496 non-null    float64
 9   sat_rhot510  496 non-null    float64
 10  sat_rhot555  496 non-null    float64
 11  sat_rhot670  496 non-null    float64
dtypes: float64(12)
memory usage: 46.6 KB

In [ ]:
df_toa = df_toa.filter(like='_rhot', )

In [7]:
df_env.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496 entries, 0 to 495
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lat     496 non-null    float64
 1   lon     496 non-null    float64
 2   id      496 non-null    int64
 3   oisst   496 non-null    float64
 4   etopo2  496 non-null    float64
 5   cruise  496 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 23.4+ KB

In [15]:
df_y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496 entries, 0 to 495
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   chl     365 non-null    float64
 1   chl_a   158 non-null    float64
 2   ad411   166 non-null    float64
 3   ad443   168 non-null    float64
 4   ad489   168 non-null    float64
 5   ad510   168 non-null    float64
 6   ap411   166 non-null    float64
 7   ap443   168 non-null    float64
 8   ap489   168 non-null    float64
 9   ap510   168 non-null    float64
dtypes: float64(10)
memory usage: 38.9 KB

In [ ]:
df_y_chl = df_y.filter(axis=1, like='chl').copy()

In [14]:
df_y_chl.info()

<class 'pandas.core.frame.DataFrame'>
Index: 98 entries, 1 to 414
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   chl     98 non-null     float64
 1   chl_a   98 non-null     float64
dtypes: float64(2)
memory usage: 2.3 KB